#lol,
#draggable,
#slideText,
#circleNodes {
  cursor: pointer;
}

#texters,
#textersB,
#coreTexts,
#slideText,
#mainHeadings {
  font-family: "Corbel Regular";
}

body {
  background: url(../assets/demos_background.png);
  background-repeat:no-repeat;
  background-size: 100%;
  font-family: 'Comfortaa', cursive;

}
