body {
  background-size: 100%;
  background-image: url(../static/assets/background.jpg);
}

html * {
  color: white;
  font-family: 'Righteous', cursive;
}

/* style for autocharts.html */
.main_div{
	height: 100%;
	width: 100%;
}
.top_band {
	width: 100%;
	height: 30%;
}
.top_band ul{
	list-style: none;
}
.top_band_squares {
	height: 100%;
	width:18%;
  float: left;
  border: solid white;
	padding: 15px;
	margin: 15px;
	border-radius: 30px;
	fill: white;
	align-content: center;
}


.main-title{
  text-align: center;
  width: 100%;
  color: white;
  padding-top: 10px;
  font-size: 10em;
  cursor: default;
}
.mini-title{
  cursor: default;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  padding-top: 10px;
}

.start-img{
  height: 5em;
  width: 5em;
  float: right;
  margin-right: 48%;
  margin-top: 20px;
  cursor: pointer;
}
/* end of the autocharts.html */
/* ============================================================= */
/* styles for index.html */

.left-pane {
  float: left;
  width: 50%;
  position: relative;
}

.right-pane {
  float: right;
  width: 50%;
  position: relative;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
  /* -webkit-filter: blur(5px); */
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.home {
  width: 100%;
  height: 30%;
}

/* end of the index.html styles */
