</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Righteous" rel="stylesheet">


<html>



<body class="text-white bg-dark">
  <div class="container-fluid">
    <div class="d-flex justify-items-center">
      <h1>BAR CHART</h1>
    </div>
    <div class="float-lg-right border border-dark">
      <div class="card" style="width: 31rem; height: 30rem;margin-right: 5rem;">
        <div class="card-body" id="plot">

        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="tool-bar">
          <div class="btn-group d-flex justify-items-center mr-2 btn-group-lg" role="group" aria-label="First group">
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="rotate right"><img src="..\static\assets\rotate_right.svg" /></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="rotate left"><img src="..\static\assets\rotate_left.svg" /></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="notes"><img src="..\static\assets\notes.svg" /></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="base color"><img src="..\static\assets\base_color.svg" /></button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="color scale"><img src="..\static\assets\color_scale.svg" /></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="axis"><img src="..\static\assets\axis.svg" /></button>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
      <br />
      <div id="options-area">
      </div>

    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--
    -- TODO:Import bar chart javascript here.
 -->

</html>
