<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" href="../static/charts.css" />
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Righteous" rel="stylesheet">

<html>

<body>
  <div class="heading">
    Bar Chart
  </div>
  <div class="login">
    <div class="pane">
      <span class="sub-heading">play around!</span>
      <div class="module">
        <div class="bar-svg">
          <h1>this should sit a the left side of the page. Have to try to make it happen</h1>
        </div>
        <div class="bar-code">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ipsum rhoncus, porta eros eget, malesuada ex. Sed interdum laoreet ante vitae blandit. Integer laoreet neque nunc, nec vehicula lectus placerat eget. Aenean laoreet quis dolor accumsan vulputate. Fusce efficitur consectetur elementum. Aliquam luctus odio sit amet congue convallis. Morbi at felis eu neque aliquam cursus sit amet vel erat. Donec ut ullamcorper metus. Quisque at urna posuere, porta mauris luctus, mattis velit. Vivamus mattis vehicula risus ut faucibus. Mauris non purus libero. In vel rutrum ipsum, nec iaculis justo. Pellentesque a rutrum eros, suscipit iaculis ipsum.
</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="login">
    <div class="pane">
      <span class="sub-heading">play around!</span>
      <div class="module">
        <div class="bar-svg">
          <h1>this should sit a the left side of the page. Have to try to make it happen</h1>
        </div>
        <div class="bar-code">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ipsum rhoncus, porta eros eget, malesuada ex. Sed interdum laoreet ante vitae blandit. Integer laoreet neque nunc, nec vehicula lectus placerat eget. Aenean laoreet quis dolor accumsan vulputate. Fusce efficitur consectetur elementum. Aliquam luctus odio sit amet congue convallis. Morbi at felis eu neque aliquam cursus sit amet vel erat. Donec ut ullamcorper metus. Quisque at urna posuere, porta mauris luctus, mattis velit. Vivamus mattis vehicula risus ut faucibus. Mauris non purus libero. In vel rutrum ipsum, nec iaculis justo. Pellentesque a rutrum eros, suscipit iaculis ipsum.
</h3>
        </div>
      </div>
    </div>
  </div>

<div class='data-body'>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate finibus elementum. Quisque ac odio volutpat, ultrices odio sed, dictum urna. Proin nec egestas turpis. Vestibulum venenatis consequat erat, sed suscipit libero sollicitudin vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris consequat ultrices sapien, in eleifend leo mollis nec. Quisque in consequat elit. Ut justo urna, eleifend in nisl et, porttitor mollis orci.

Donec egestas nisi nec sem rhoncus pharetra. Pellentesque rhoncus vulputate enim, et tempus odio ornare ut. Praesent dictum lectus at mollis rutrum. Duis a varius sem, cursus mollis lectus. Nulla turpis tellus, consequat vitae venenatis vel, lacinia vel turpis. Fusce auctor lorem non pretium mattis. Proin nec risus malesuada, rutrum quam quis, ultricies diam. Donec fermentum, tellus vitae interdum scelerisque, felis mi tincidunt velit, id dictum justo neque ac dolor. Proin ornare bibendum felis, non egestas arcu. Curabitur sed ante erat. In hac habitasse platea dictumst. Nulla eu ipsum quis ligula facilisis facilisis. Nam mattis velit et neque iaculis aliquet. Vestibulum sodales tristique convallis.

Sed finibus purus commodo est gravida tincidunt. Vivamus blandit orci et augue ullamcorper, vestibulum dapibus est ultrices. Aliquam euismod urna vitae erat posuere bibendum et nec urna. Aenean luctus blandit accumsan. Duis sit amet sagittis ex. In volutpat urna nec diam blandit, ut auctor massa tempus. Sed vestibulum id ligula non placerat. Nam rhoncus risus suscipit rhoncus lobortis. Pellentesque eget varius arcu. Fusce rhoncus bibendum vulputate. Integer consequat massa elementum sodales laoreet. Sed dignissim, magna hendrerit iaculis gravida, risus odio pretium risus, vel imperdiet massa massa et ex. Nam non aliquam eros, in finibus sem. Morbi eu pellentesque dolor.

Vivamus sed quam vel lectus dictum suscipit sit amet nec eros. Pellentesque fermentum dui vitae fringilla scelerisque. Maecenas bibendum dignissim eros sit amet commodo. Nam eu posuere ex, id semper libero. Sed velit dui, semper eu cursus sed, rutrum non erat. Nunc tincidunt justo vel lacus porta, id porta ligula varius. Maecenas fringilla arcu sed efficitur interdum. Suspendisse felis magna, hendrerit a sem vel, sagittis rutrum sem. Praesent lobortis libero lacinia ipsum aliquam accumsan. Vivamus pulvinar consectetur metus eget vehicula. Etiam sed urna leo. Aliquam sem elit, efficitur suscipit libero sit amet, tempor posuere nulla.

Nulla consequat egestas condimentum. Etiam varius tempus nulla, in porta odio. Suspendisse ultricies, ante in tempor eleifend, erat arcu fermentum velit, ac egestas sem orci in ligula. Aliquam posuere tellus ac orci sagittis dapibus. Duis at mi ac massa aliquet egestas. Nulla porttitor maximus lobortis. Suspendisse non justo lorem. Nullam vel ex suscipit, dapibus diam in, scelerisque mauris. Sed rutrum enim euismod ex pellentesque, et aliquam nibh venenatis. Cras auctor nulla dui, nec placerat ligula sodales id. Nunc pellentesque eros sed maximus aliquam. Integer elementum quis orci id vestibulum.
</div>
</body>

</html>
